aiogram
aiohttp
aiomysql
aioredis
aiosqlite
APScheduler
loguru
tortoise-orm
tortoise-orm[aiomysql]
tortoise-orm[accel]
motor
pydantic
pydantic[dotenv]
python-rapidjson
pillow
psutil
distro
aiohttp_socks
